@CHARSET "ISO-8859-1";

.clearfix:before,
.clearfix:after {content: " "; display: table;}
.clearfix:after {clear: both;}
.clearfix {*zoom: 1;}

.wraptocenter {display: table-cell; text-align: center; vertical-align: middle;}
.wraptocenter * {vertical-align: middle;}
/*\*//*/
.wraptocenter {display: block;}
.wraptocenter span {display: inline-block; height: 100%; width: 1px;}
/**/
  
.ui-widget {font-size:.9em;}
.ui-helper-reset {font-size: .9em;}

#middle-column-content {padding-left: 1em; padding-right: 1em;}

.fb-albums .ui-tabs {
}
.fb-albums .ui-tabs .ui-tabs-panel {
  padding: 0px;
}
.fb-albums .ui-tabs ul.ui-tabs-nav  {
  font-size: .8em;
}
.fb-albums .ui-tabs ul.ui-tabs-nav .pages {
  margin-top: -.5em;
  float: left;
  padding: .5em .5em;
  font-weight: bold;
}
.fb-albums .ui-tabs ul.ui-tabs-nav li {
  
  margin-top: -.5em;
  
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  -khtml-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  -khtml-border-top-right-radius: 0px;
  border-top-right-radius: 0px;

  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -khtml-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -khtml-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  
  border-top: none;
  border-bottom: 1px solid #cccccc !important;
  
}
.fb-albums .ui-tabs ul.ui-tabs-nav li a {
  padding: .25em .75em .5em .75em;
}

.fb-albums {width: 218px; text-align: center;}
.fb-albums {font-family: sans-serif; font-size: .9em;}
.fb-albums .caption {padding-bottom: .25em; padding-top: 1em;}
.fb-albums .fb-album-folder {float: left; width:95px; padding-right:6px;}
.fb-albums .fb-album-folder .wraptocenter {width:95px; height: 95px; vertical-align: bottom;}
.fb-albums .fb-album-folder .wraptocenter .fb-album-cover-photo {max-width:95px; max-height: 95px; border: none;}
.fb-albums .fb-album-folder .fb-album-name {height: 2.2em; line-height: 1.1em; overflow: hidden;}

.fb-album {font-family: sans-serif; font-size: .9em;}
.fb-album .graceful {padding: 2em;}
.fb-album .caption {padding-bottom: .25em; padding-top: 1em;}
.fb-album .fb-photo-container {float: left; width:130px; padding-right:6px;}
.fb-album .fb-photo-container .wraptocenter {width:130px; height: 130px; vertical-align: bottom;}
.fb-album .fb-photo-container .wraptocenter .fb-photo {max-width:130px; max-height:130px; border: none;}
.fb-album .fb-photo-container .fb-photo-name {height: 2.2em; line-height: 1.1em; overflow: hidden;}
